.blockquote {
	&::before,
	&::after {
		position: absolute;
		color: #f1efe6;
		font-size: 8rem;
		width: 4rem;
		height: 4rem;
	}
	&::before {
		content: "“";
		left: -5rem;
		top: -2rem;
	}
	&::after {
		content: "”";
		right: -5rem;
		bottom: 1rem;
	}
	.textarea-content {
		padding: 10px;
		margin: 10px auto 0 auto;
		resize: none;
		overflow: hidden;
		font-weight: 700;
		font-size: 30px;
		width: 100%;
		border: 0;
		outline: none;
	}
}
