.blockquote--quote {
	&::before {
		position: absolute;
		color: blue;
		font-size: 8rem;
		width: 4rem;
	}
	&::before {
		content: "“";
		left: -5rem;
		top: -2rem;
	}

	.content {
		padding: 10px;
		margin: 10px auto 0 auto;
		resize: none;
		overflow: hidden;
		font-weight: 700;
		font-size: 30px;
		width: 100%;
		border: 0;
		/* border-radius: 3px; */
		outline: none;
	}
	.by-field {
		margin-left: 10px;
		border: 0;
		border-left: 2px solid blue;
		padding-left: 15px;
		font-size: 18px;
		outline: none;
		margin-top: -10px;
		margin-bottom: 20px;
	}
}

.blockquote--warning {
	/*  */
}
.blockquote--info {
	/*  */
}
.blockquote--warning {
	/*  */
}
.blockquote--alert {
	/*  */
}
