.blockquote {
	&::before {
		position: absolute;
		color: blue;
		font-size: 8rem;
		width: 4rem;
	}
	&::before {
		content: "“";
		left: -5rem;
		top: -2rem;
	}
	.textarea-content {
		padding: 10px;
		margin: 10px auto 0 auto;
		resize: none;
		overflow: hidden;
		font-weight: 700;
		font-size: 30px;
		width: 100%;
		border: 0;
		outline: none;
	}
	.by-wrapper {
		padding: 10px;
		width: 100%;
		display: flex;
		/* justify-content: right; */
		flex-direction: row-reverse;
	}
	.by-field {
		font-weight: 400;
		color: black;
		border: 0;
		border-bottom: 2px solid blue;
		font-size: 18px;
		outline: none;
		padding: 5px;
	}
}
